.vertical-menu{
	width: 200px;
}
.vertical-menu a{
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration:none;
}
.vertical-menu a:hover{
	background-color: #ccc;
}
.vertical-menu a.activa{
	background-color: #04AA6D;
	color:white;
}
/*ESTILOS DE LA BARRA DE NAVEGACIÓN*/
.menu{
	width:100%;
	padding:0px;
	margin:0px;
	height:40px;
	background-color:orange;
	text-align:center;
}
.menu li{
	display:inline-block;
}
.menu li a{
	font-size:15px;
	text-decoration;none;
	float:left;
	padding: 10px 15px;
	margin-top:1px;
	color:#fff;
}
.menu li a:hover{
	background-color:red;
	margin-top:-2px;
	padding-bottom:12px;
}
	